# Bauausgaben
arbeit/
ausgabe/
bauprofil/
out/
work/
dist/
paketablage/
pakete/*/pkg/
pakete/*/src/
*.iso
*.iso.sig
*.img
*.pkg.tar.*
*.db*
*.files*

# Lokal/Editor
.env
.DS_Store
.idea/
.vscode/
__pycache__/
*.py[cod]
